  <% include ./partials/header %>
    <div class="container fade">
      <div class="row">
        <div class="five columns">
          <div class="content">
            <p class="title highlight">My Work.</p>
            <p class="sub-1-title">
              I enjoy working on projects where I can do full-stack development and
              engage with my community.
            </p>
            <img src="/resources/img/totoro2.svg" id="workimg" alt="Totoro and friends-Graphics from pngtree.com">
          </div>
        </div>
        <div class="seven columns">
          <div class="box">
            <ul class="tabs">
              <li id="titletechnical" class="active" href="#technical">Technical Projects</li>
              <li id="titleservice" href="#service">Service Projects</li>
            </ul>
            <div class="projects">
              <div class="project-section" id="technical">
                <div class="project-text">
                  <% data['technical'].forEach(function(project) { %>
                  <a class="project-title" href="/work/tech/<%=project['linkname']%>"><%= project['projName'] %>:</a>
                  <p class="project-desc"><%= project['projDesc'] %></p>
                  <% }); %>
                  <hr>
                </div>
              </div>
              <div class="project-section" id="service">
                <div class="project-text">
                  <% data['service'].forEach(function(project) { %>
                  <a class="project-title" href="/work/service/<%=project['linkname']%>"><%= project['projName'] %>:</a>
                  <p class="project-desc"><%= project['projDesc'] %></p>
                  <% }); %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div> 
    </div>
    <script type="text/javascript" src="js/work.js"></script>
  <% include ./partials/footer %>
